/Shop/nbproject/private/
/Shoping/nbproject/private/
/Shoping/build/
/Shoping/dist/
/pjtAccesoDatos/nbproject/private/
/wsServicios/nbproject/private/
/lgAccesoDatos/nbproject/private/
/logAccess/nbproject/private/
/pjtAccesoDatos/build/
/pjtAccesoDatos/dist/
/wsServicios/build/
/wsServicios/dist/